*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
data
.data
.data/db
.db
data/db
db
./data/db
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
data
.data
.data/db
.db
data/db
db
./data/db